* {
    margin: 0;
    padding: 0;
}

.slider {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.slides {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 60vh;
}

.slide {
    transition: 0.5s;
    height: 100%;
}

.slide img {
    transition: 0.5s;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 35%;
}

.switcher {
    padding: 10px;
    cursor: pointer;
}

.switcher-btn {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: black;
    border: 2px solid blue;
    border-radius: 50%;
}

.slides-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
}

.slide-text {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    min-height: 100%;
    transition: .5s;
}

input {
    display: none;
}

#radio1:checked ~ .slides > .slide {
    transform: translateY(0);
}

#radio2:checked ~ .slides > .slide {
    transform: translateY(-100%);
}

#radio3:checked ~ .slides > .slide {
    transform: translateY(-200%);
}

#radio4:checked ~ .slides > .slide {
    transform: translateY(-300%);
}

#radio1:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(0);
}

#radio2:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(-100%);
}

#radio3:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(-200%);
}

#radio4:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(-300%);
}


