* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0 1.2rem;
    box-sizing: border-box;
    background: #1f2424;
}

.slider {
    display: block;
    max-width: 50rem;
    padding: 1.3rem;
}

.slider-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.slides {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 1.3rem;
    border-radius: 0.5rem;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: .7s;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 35%;
}

.switcher {
    padding: 10px;
    cursor: pointer;
}

.switcher-btn {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #33dbde;
    border: 2px solid #33dbde;
    border-radius: 50%;
}

.switcher-btn:hover {
    background-color: white;
    border-color:white;
}

#radio1:checked ~ .container > .navigation > label:nth-child(1) > .switcher-btn, 
#radio2:checked ~ .container > .navigation > label:nth-child(2) > .switcher-btn,
#radio3:checked ~ .container > .navigation > label:nth-child(3) > .switcher-btn,
#radio4:checked ~ .container > .navigation > label:nth-child(4) > .switcher-btn {
    background-color: #1f2424;
}

#radio1:checked ~ .container > .navigation > label:nth-child(1) > .switcher-btn:hover, 
#radio2:checked ~ .container > .navigation > label:nth-child(2) > .switcher-btn:hover,
#radio3:checked ~ .container > .navigation > label:nth-child(3) > .switcher-btn:hover,
#radio4:checked ~ .container > .navigation > label:nth-child(4) > .switcher-btn:hover {
    border-color: white;
}

.slides-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
    color: white;
}

.slide-text {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    min-height: 100%;
    transition: .5s;
}

input {
    display: none;
}

#radio1:checked ~ .slider-wrapper > .slides > img {
    transform: translate(0);
}

#radio2:checked ~ .slider-wrapper > .slides > img {
    transform: translate(-100%);
}

#radio3:checked ~ .slider-wrapper > .slides > img {
    transform: translate(-200%);
}

#radio4:checked ~ .slider-wrapper > .slides > img {
    transform: translate(-300%);
}

#radio1:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(0);
}

#radio2:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(-100%);
}

#radio3:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(-200%);
}

#radio4:checked ~ .container > .slides-text > .slide-text {
    transform: translateY(-300%);
}


